.playgroundCode {
  position: relative;
  border: 1px solid black;
}
.playgroundCode::before {
  content: "React Playground";
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
  position: absolute;
  right: 8px;
  top: 8px;
  background-color: rgb(242, 70, 174);
  color: white;
  padding: 2px 8px;
  font-size: 12px;
  z-index: 1;
}

.playgroundError {
  position: relative;
  font-family: monospace;
  padding: 42px 36px;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  margin: 0;
  white-space: pre-wrap; /* css-3 */
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
}
.playgroundError::before {
  content: "Playground Error";
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
  color: #ff535c;
  position: absolute;
  right: 8px;
  top: 8px;
  font-size: 12px;
  z-index: 1;
}

.previewArea {
  position: relative;
  padding: 42px 36px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
}
.previewArea::before {
  content: "Playground Preview";
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
  position: absolute;
  right: 8px;
  top: 8px;
  font-size: 12px;
  z-index: 1;
}
